name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy project to VPS (Frontend + Backend)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          
          source: "./"
          
          target: "/root/contractmitra"

          rm: true

          # Ignore unnecessary files
          # (Optional but recommended)
          exclude: |
            .git/
            node_modules/
            .github/
            README.md
            .env
